table {
  width: 100%;
}

.button-column{
  width: 100px;
}

.data-column{
  margin-left: 10px;
}

.button{
  width: 100px;
}

.column{
  margin-left: 5px;
  margin-right: 5px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding-right: 5px;
  padding-left: 5px;
}

.search-field{
  float: right;
}

.add-button{
  margin-top: 1.25em;;
}
